body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box {
    width: 720px;
    height: 760px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    margin-top: 70px;
    display: inline-block;
    box-shadow: 0 0 10px #f5f5f5;

}
.img-fluid {
    height: 760px;
    width: 660px;
    margin-top: 69px;
}
.input {
    border-radius: 10px;
    width: 300px;
    height: 40px;
    outline: #ccc;
    color: #ccc;
    margin-left: 160px;
}
.btn {
    width: 340px;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
}
